{% extends "index.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

<form action="/bought" method="post">
    <h2>{{name[0]["Nome"]}}</h2><br>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" style="text-align:center;" min="1" name="price" placeholder="Price" type="number" min="1" max="{{tokens}}">
    </div>
    <button class="btn btn-primary" name="id" type="submit" value="{{id}}">Buy</button>
    <input type="hidden" name="page_id" value="{{page}}">

</form>
<br><br>
<h5>You have <span style="font-weight:bold;">{{tokens}}</span> tokens.</h5>



{% endblock %}

